#
# Kernel/Boot Configuration
#

# Fallback IP Address if DHCP fails (it fails in QEMU depending on setup)
static_ip = "192.168.100.54"


#
#  IP Addresses to NetBoot Servers. If first fails then second is tried and so on.
#  
#  The IP address for tap0 must have it's own subnet or it can intefere with the subnet the Host is connected to.
#  192.168.0.50 will be treated as subnet/interface to eth0 and no packets will be sent or received
#  to/from tap0 (they do not show up in wireshark).
#
netboot_ips = [
    "192.168.100.50" # QEMU tap0
    "192.168.0.60"   # BEAST (dev machine)
]
netboot_port = 2493

# unused
log_level = 3
